.container{
   display: flex;
   justify-content: space-between;
   gap: 20px;
   padding: 30px;
   min-height: 100vh;
   background-color: #f4f4f4;
}
.FormContainer,
.show-information{
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
    border-radius: 8px;
}
h2{
    margin-bottom: 20px;
    color: #333;
}
label{
    display: block;
    margin-bottom: 6px;
    color: rgb(14, 12, 12);
}
input,
textarea{
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
img, video{
    width: 100%;

}
.option{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.option label{
    display: flex;
    align-items: center;
    gap: 6px;

}
select{
    padding: 10px;
    border-radius: 5px;
}


.FormContainer button{
    background-color: #333;
    color:white;
    padding: 10px;
    border: none;
    font-size: 15px;
    margin-top:20px
}
.show-information p{
    font-size: 20px;
    border-bottom: 1px solid #333;
}